*{
    margin: 0px;
    padding: 2rem;
}

#MainPageTitle{
    padding-left: 8rem;
}

.MainPageNav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.h2{
    flex-grow: 1;
}