#MainPageTitle{
    font-family: 'Krona One',  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-align: initial;
}

.MainPageNav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1rem;
    font-variant: small-caps;
}

