*{
    margin: 0px;
    padding: 1rem;
}

.body{
    margin: 0px;
    padding: 0px;
}

.MainPage{
    margin: 0px;
    padding: 0px;
}

#MainPageTitle{
    box-sizing: border-box;
    width: 18rem;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.MainPageNav{
    box-sizing: border-box;
    width: 13rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    right: 3rem;
    top: 5rem;
    
}

.MainPageButtons{
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction: column;
}