body{
    background-image: url(./DB9Headlight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

#MainPageTitle{
    font-family: 'Krona One',  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: white;
    text-align: initial;
}

.MainPageNav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75rem;
    font-variant: small-caps;
}

.MainPageButtons{
    border-radius: 5px;
    border-style: groove;
    background-color: rgb(74, 79, 90);
}

.MainPageNav a:link{
    text-decoration: none;
    color: rgb(227, 236, 255);
}

.MainPageNav a:visited{
    text-decoration: none;
}

.MainPageNav a:hover{
    text-decoration: none;
}

.MainPageNav a:active{
    text-decoration: none;
    color: rgb(227, 236, 255);
}

