body{
    background-image: url(./DB9Headlight.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#MainPageTitle{
    font-family: 'Krona One',  'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3.5rem;
    color: white;
    text-align: initial;
}

.MainPageNav{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: .75rem;
    font-variant: small-caps;
}

.MainPageButtons{
    background-color: rgb(70, 17, 83);
}

