<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/layout.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Categories</title>
</head>

<body>
    <section>
    <h1 class="CategoryTitle">Find Posts By Their Category</h1>
        <p class="CarCategories" th:each="category:${categories}">
            <a th:href="@{'/categories/' + ${category.name}}" th:text="${category.name}">Category</a>
        </p>
</section>
</body>

</html>