<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./CSS/layout.css">
    <link rel="stylesheet" href="./CSS/style.css">
    <title>Hashtags</title>
</head>
<body>
    <h1 class="HashtagTitle">Find Posts By Their Hashtags</h1>
    
        <p class="CarHashtags" th:each="hashtags:${hashtags}">
            <a th:href="@{'/hashtags/' + ${hashtag.name}}" th:text="${hashtag.name}">Category</a>
        </p>
</body>
</html>