<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <section class="post">
        <h2 th:text="${post.name}">Title</h2>
        <!-- <h4 th:each="author : ${post.authors}" th:text="${author.name}"></h4> -->
        <h4 th:text="${post.date}">Date</h4>
        <p th:text="${post.body}">Body text Body text Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text Body text 
            Body text Body text Body text Body text Body text Body text Body text Body text Body text 
        </p>
        <p th:each="hashtag : ${post.tags}" th:text = "${hashtag.name}"></p>
    </section>
</body>
</html>